<html>
<head><title>System Notice</title></head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td bgcolor="#808080" height="22">
  <font face="Arial" size="2" color="#ffffff"><b>&nbsp;SYSTEM NOTICE</b></font>
</td></tr>
</table>
<table border="0" cellpadding="6" cellspacing="0" width="98%" bgcolor="#eeeeff">
<tr><td>
  <font face="Arial" size="2">
    <b>SCHEDULED MAINTENANCE</b> &#8212; core batch processing runs tonight
    22:00-23:30 CT. Servicing may be briefly unavailable.
  </font>
</td></tr>
</table>
<table border="0" cellpadding="6">
<tr><td>
  <input type="button" value="Acknowledge" onclick="location.href='{{ next_url }}'">
</td></tr>
</table>
</body>
</html>
